on:
  push:
  pull_request:

name: test

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Install Task
        uses: arduino/setup-task@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - run: task install
      - run: task world